##### Functions

A function is a block of organized, reusable code that is used to perform a single, related action. ... Different programming languages name them differently, for example, functions, methods, sub-routines, procedures, etc.


## Advantages:

- Makes your code more organized and manageable.
- Brings code reusability.

## Function Syantax:
```
def <function name>([parameters]):
    '''Doc string'''
    Logic/statements
    ...
    ...
    return value/print(value)
```
**def** - marks the start of the function header.\
**function name** - a unique name to idenfity the function, this naming follows the same checklist we learnt in variable naming.\
**parameters/arguments** - used to pass a value to the function while calling. These are optional.\
**Doc String** - a short description about the function. This is optional.\
**Logic/statements** - one or more valid python statements to perform the required task.\
**retrun** - this will return a value from the funxtion. Optional.\
**print** - to display a value from the fucntion. Optional.

In [1]:
# defining a fuction
def summ(a,b):
    c=a+b
    #print(c)
    return(c)

In [2]:
# Calling a function
summ(10,20)

30

In [ ]:
result=summ(10,20)
print(result)

##### function Arguments
1. Required Argumnents 
2. Keyword Argumnents 
3. Default Argumenst 
4. Variable length Argumnents

In [ ]:
# Required Arguments 
summ(10,20)

30

In [ ]:
# keyword Arguments
summ(b=10,a=20)

30

In [ ]:
# Default Arguments
def printinfo( name,age = 35 ):
   #"This prints a passed info into this function"
    print ("Name: ", name)
    print ("Age ", age)
    return;

In [ ]:
printinfo("Data Science")

Name:  Data Science
Age  35

In [ ]:
printinfo("Data Science",50)

Name:  Data Science
Age  50

In [ ]:
printinfo("Data Science") # Age is assumed to  be a default Argument

In [3]:
# Variable Length Arguments
def varlen( arg1, *vartuple ):
   
      print ("Output is: ")
      print ("arg1 is:",arg1)
      # for var in vartuple:
      print("Var tuple is:",vartuple)
      return;

In [4]:
varlen(10,1,2,3,4,5)

Output is:
arg1 is: 10
Var tuple is: (1, 2, 3, 4, 5)

##### Keyword Arguments - kwarg

In [ ]:
def func(var, **kwarg):
    print (var)
    print (kwarg)

# func()
func('var value', a=1,b=2)

#### Lambda Fucntion(Ananymous)
Lambda functions are used when you need a function for a short period of time. This is commonly used when you want to pass a function as an argument to higher-order functions, that is, functions that take other functions as their arguments.
* Syntax: lambda [arg1 [,arg2,.....argn]]:expression

In [7]:
def add(x, y):
    return x + y

add(10,20)

30

In [9]:
(lambda x, y: x + y)(10, 20)

30

##### Filter Functions
Filter() function takes a function as the first argument and the list as the second argument to which we want to apply a filtering function

In [10]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)

[4, 6, 8, 12]

##### Map and Reduce Functions
Map applies a function to all the items in an input_list.

map(function_to_apply, list_of_inputs)

In [11]:
def square_all_numbers(numb_list):
    results = []
    for num in numb_list:
        results.append(num**2)
    return results
square_all_numbers([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [12]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print (squared)

[1, 4, 9, 16, 25]

##### Reduce is a really useful function for performing some computation on a list and returning the result. It applies a rolling computation to sequential pairs of values in a list. For example, if you wanted to compute the product of a list of integers.

In [13]:
product = 1
lst = [1, 2, 3, 4, 5]
for num in lst:
    product = product * num
print (product)

120

In [14]:
from functools import reduce

product = reduce((lambda x, y: x * y), [1, 2, 3, 4, 5])
product

120

#### Recursive Function
* Function Calling a function itself

In [ ]:
# Normal function to alculat factorial
#n=1
def fact(n):
    
    if(n<0):
        return("enter valid n value")
    
    if(n==1 or n==0 ):    
        return 1
    
    else:
        for  i  in range(1,n):     
            n=n*i
    return(n)

In [ ]:
fact(5)

120

In [5]:
# Recursive function to calculate Factorial ofthe number
def rec_fact(n):
    if(n==1 or n==0):
        return 1
    else:
        fact=n*rec_fact(n-1)
           
    return(fact)

In [ ]:
rec_fact(5)

120

# Scope of variables
* Global Variable
* Local Variable

In [17]:
# Local Variable and Global Variable
#print(global_var)
global_var=100 # Global Variable
def Function(a):
    loc_var=10  # Local Varaible
    print("Local Varible",loc_var)
    print("Gloabal Varible",global_var)

In [18]:
Function(10)

Local Varible 10
Gloabal Varible 100

In [19]:

print(global_var)

100

In [20]:
print(loc_var) # Scope of this varaible is within  fuction only

NameError: name 'loc_var' is not defined

In [21]:
print(global_var) # Scope of this is  outside the function also

100

In [1]:

def function():
    global local_variable # Make a local variable as gloabl
    local_variable=10
    print(local_variable)

In [2]:
function()

10

In [3]:
print(local_variable)

10

##### Exception handling

In [22]:
try :
  import numpy as np
  import math 
  import pandas
  #import pandas1 as p
  print("try blck success")
except:
  print("error occured ,please try after some time")

try blck success

In [23]:
 import pandas1 as p

ModuleNotFoundError: No module named 'pandas1'

In [24]:
try :
  import pandas1 as pd
  print("try blck success")
except Exception as err:
  print(err)
  #print("error occured ,please try after some time")

No module named 'pandas1'